.home-container {
  background-color: #ffffff;
}
/* home.css */

.img-thumbnail.rounded-circle {
  width: 300px;
  height: 300px;
  border: none;
}

.container {
  padding: 2rem;
  background-color: #ffffff;
}

.home-container h2,
.home-container h1 {
  color: #000000;
}

.container h1 {
  font-weight: bold;
}

.container p {
  color: #000000;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  color: #8f8f8f;
  margin-bottom: 2rem;
}


.home-container i {
  width :300px ;
  height :300px ;
  border-radius :50% ;
  overflow :hidden ;
  margin-bottom :2rem ;
  animation-name :spin ;
  animation-duration :4s ;
  animation-iteration-count :infinite ;
  animation-timing-function :linear ;
}

@keyframes spin{
  from{
      transform :rotate(0deg) ;
  }
  to{
      transform :rotate(360deg) ;
  }
}

.image{
    width :50% ;
    height :50% ;
    object-fit :cover ;
}

.text{
    font-size :1.2rem ;
    color:#666666 ;
    line-height :1.5 ;
}

.button{
    background-color:#3f3d56 ;
    color:#fff ;
    font-weight:bold ;
    padding :1rem2rem ;
    border:none ;
    border-radius :5px ;
    margin-top :2rem ;
    cursor:pointer ;
    transition :all .2s ease-in-out ;
}

.button:hover{
    background-color:#f6b93b ;
    color:#3f3d56 ;
}

.button:focus{
    outline:none ;
}
/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Estilos generales */

*{
    margin :0 ;
    padding :0 ;
    box-sizing:border-box ;
}

body{
    font-family:'Montserrat', sans-serif ;
    background-color:#ffffff ;
}

.card{
    border:none ;
    border-radius :10px ;
    box-shadow :0px4px8px rgba(0,0,0,.1) ;
    transition :transform .2s ease-in-out , box-shadow .2s ease-in-out ;
}

.card:hover{
    transform :translateY(-.25rem) ;
    box-shadow :0px8px16px rgba(0,0,0,.2) ;
}

.card-title{
    font-size :1.2rem ;
    font-weight:bold ;
}

.card-text{
    font-size :1rem ;
    margin-bottom :1rem ;
}

.card-img-top{
    border-radius :10px10px00 ;
    transition :transform .2s ease-in-out ;
}

.card:hover .card-img-top{
    transform :scale(1.1) ; 
}



/*cambios*/
.image-container:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

body {
  scroll-behavior: smooth;
  padding-top: 70px; /* 70px es la altura del Navbar */
}

.button:hover {
  background-color: #f6b93b;
  color: #3f3d56;
  transition: all 0.2s ease-in-out;
}

.button:focus {
  outline: none;
  transition: all 0.2s ease-in-out;
}

