p, h5 {
    color: black;
  }


  .pet-card {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .pet-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .pet-card-image {
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  
  .pet-card-title {
    color: #000;
    font-weight: 600;
    font-size: 24px;
  }
  
  .pet-card-text {
    color: #000;
    font-weight: 400;
    font-size: 18px;
  }
  
  