

.bg-light {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}



.btn-primary {
  background-color: #f26722;
  border-color: #f26722;
}

.btn-primary:hover {
  background-color: #f35507;
  border-color: #f35507;
}

/* Estilos para el contenido */

.container-fluid {
  padding-top: 8rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro h1 {
  font-size: 4rem;
  color: #f26722;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.intro p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

/* Estilos para los cursos */

.card {
  margin-bottom: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height:480px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.2rem;
  color: #ffffff;
}

.btn-outline-primary {
  color: #f26722;
  border-color: #f26722;
}

.btn-outline-primary:hover {
  background-color: #f26722;
  color: #fff;
  border-color: #f26722;
}

/* Estilos para el formulario de contacto */

.form-group label {
  font-size: 1.2rem;
  color: #ffffff;
}

.form-group input,
.form-group textarea {
  font-size: 1.2rem;
  color: #555;
  padding: 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Establecer el porcentaje de aspecto para que el contenedor mantenga una relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px; /* Espacio entre el video y otros elementos */
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  